.clair{
	color: #00b894;
}
.crypte{
	color: #e17055;
}
.fond_clair{
	background-color: #00b89466;

}
.fond_crypte{
	background-color: #e1705566;
}
#alpha_sub table{
	margin: 0px auto;
	border-collapse: collapse;
}
#alpha_sub td{
	border: 1px solid black;
}
#alpha_sub input{
	width: 12px;
}
.rsa_warning{
 border: 2px solid #f00;
 background-color: #fcc;
 color: #f00;
 font-weight: bold;
 padding: 5px;
 border-radius: 10px;
 text-align: center;
}
.centre{
	text-align: center;
}
.petit{
	font-size: 70%;
}
